<!-- Footer of the website -->
<footer>
<input onclick="topFunction()" id="scrollBtn" title="Scroll Up" type="image" src="<%=chevronup.imageUrl%> " alt="hey up"/>   
<em><p class="footdescrip"> Graph framework for pedigree reconstruction of crops</p></em>
<p class="footernote">2023 PERSEUS. Since 2023.</p>

  <div id="footer">  
    <div id="social"> 
      <li class="followus">Follow us on:</li> 
      <li></li>  
      <li class="facebook"><a href="https://www.facebook.com/CRAGENOMICA/" target="_blank"><img src="<%=facebook.imageUrl%>" alt="<%=facebook.name%>"></a>
          </li>
          <li class="instagram"><a href="https://www.instagram.com/aranzana_lab/" target="_blank"><img src="<%=instagram.imageUrl %> " alt="<%=instagram.name %> "></a>
          </li>
          <li class="twitter"><a href="https://twitter.com/CRAGENOMICA?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"><img src="<%=twitter.imageUrl %> " alt="<%=twitter.name %> "></a>
          </li>
          <li class="linkedin"><a href="https://www.linkedin.com/company/centre-de-recerca-en-agrigenomica/mycompany/" target="_blank"><img src="<%=linkedin.imageUrl %> " alt="<%=linkedin.name %> "></a>
          </li>
      </div>
      <div></div>
      <div id="centers">
        <li class="followus"><em>PERSEUS</em> was created by:</li>
        <li></li>
        <li class="crag">
          <a href="https://www.cragenomica.es/" target="_blank"><img src="<%=crag.imageUrl %> " alt="CRAG Center Logo"/></a>
        </li>
        <li class="irta"><a href="https://www.irta.cat/en/" target="_blank"><img src="<%=irta.imageUrl%> " alt="IRTA Center Logo"/></a>
        </li>
      </div>
      </div>   
      
<p id="flaticon"><a id="flaticon" href="https://www.flaticon.com/free-icons/machine-learning" title="machine learning icons" target="_blank"><strong>Network</strong></a> and <a id="flaticon" href="https://www.flaticon.com/free-icons/fruit" title="fruit icons" target="_blank"><strong>Fruit</strong></a> icons were created by Becris, <a id="flaticon" href="https://www.flaticon.com/free-icons/peach" title="peach icons" target="_blank">Freepik</a> & Flat Icons - Flaticon, respectively.</a></p>
<script src="/perseus/scripts/footer.js" defer></script>
</footer>
</body>

</html>